Checks: '-*,
        modernize-use-override,
        modernize-loop-convert,
        modernize-use-equals-default,
        modernize-deprecated-headers,
        performance-unnecessary-value-param,
        cppcoreguidelines-pro-type-static-cast-downcast,
        '
        
CheckOptions:
